@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: white;
	font-family: "Garamond", Serif;
	/* font-family: "Georgia", sans-serif; */
	/*font-weight: 800;*/
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #af0101;
  height: 8vh;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav1 {
  float: left;
}

nav1 ul {
  margin: 0;
  margin-left: -86px;
  padding: 0;
  list-style: none;
}

nav1 li {
  display: inline-block;
  margin-left: 0px;
  padding-top: 15px;

  position: relative;

  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Lato", sans-serif;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 6px;
  background-color: black;
  /* background-color: #444; */

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.img_container {
    position: relative;
    max-width: 100%;
}

.background {
    /* width: 100%; */
    /* height: auto; */
    display: block;
    width: 100%; /* Adjust as needed */
    /* height: 100%; Keeps the aspect ratio of the image */
}

.profile {
    position: absolute;
    top: 60px;
    left: 100px;
    /*width: 50%; /* Adjust the size as needed */
    z-index: 1;
}

.text-block {
    position: absolute;
    top: 590px;
    left: 145px;
    z-index: 2; /* Ensure text block is above the background image */
    /*background: rgba(255, 255, 255, 0.5); /* Optional: for better readability */
    /*padding: 20px;*/
    color: black;
    font-size: 22px;
}

.text-block h1 {
  font-size: 70px;
}

.sub_tab_img_container {
  position: relative;
  text-align: center;
  color: white;
}

/* Title Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 42px;
}

.centered_blk_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 42px;
}

/*.img_container img {
/*    display: block;
/*    width: 100%; /* Adjust as needed */
/*    height: 100%; /* Keeps the aspect ratio of the image */
/*    margin-bottom: 0px; /* Space between the image and the title */
/*    position: relative;
/*    top: 0;
/*    left: 0;
/*}*/

/*.img_container text-block{
  position: absolute;
}

.background {
  position: relative;
}
.profile {
  position: absolute;
  top: 0px;
  left: 0px;
}*/

.bio {
    margin-top: 60px; /* Adjust as needed to create space below the background image */
    padding-left: 560px; /* This should be at least equal to the width of the profile image */
    margin-right: 160px;
    font-size: 24px
}

.bio p {
    margin-bottom: 20px; /* Adjust the value as needed */
    text-align: justify;
}

.teaching_exp {
  margin-top: 20px; /* Adjust as needed to create space below the background image */
  padding-left: 320px; /* This should be at least equal to the width of the profile image */
  /* margin-right: 160px; */
  font-size: 24px
}

.teaching_exp p {
  margin-top: 50px;
  padding-left: 80px;
  margin-bottom: 5px; /* Adjust the value as needed */
  text-align: justify;
  margin-right: 200px;
}

.pulication_exp {
  margin-top: 50px; /* Adjust as needed to create space below the background image */
  /* padding-left: 50px; This should be at least equal to the width of the profile image */
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: 100px;
  font-size: 24px
}